//  Colores para los temas. Inicialmente
// - dark
// - light 
// - theme1
:root[data-theme="dark"] {
    --colormainbackground: hsl(222, 26%, 31%);
    --colortogglebackground: hsl(223, 31%, 20%);
    --colorkeypadbackground: hsl(223, 31%, 20%);
    --colorscreenbackground: hsl(224, 36%, 15%);
    // #### Keys
    --colorKey: hsl(222, 26%, 31%);
    --colorkeybackground: hsl(225, 21%, 49%);
    --colorkeyshadow: hsl(224, 28%, 35%);
    --colorRedkeybackground: hsl(6, 63%, 50%);
    --colorRedkeytoggle: hsl(6, 63%, 50%);
    --colorDarkredkeyshadow: hsl(6, 70%, 34%);
    --colorLightgrayishorangekeybackground: hsl(30, 25%, 89%);
    --colorGrayishorangekeyshadow: hsl(28, 16%, 65%);
    // #### Text
    --colorVerydarkgrayishblue: hsl(223, 100%, 96%);
    --colorWhite: hsl(0, 0%, 100%);
}

:root[data-theme="light"] {
    --colormainbackground: hsl(0, 0%, 90%);
    --colortogglebackground: hsl(0, 5%, 81%);
    --colorkeypadbackground: hsl(0, 5%, 81%);
    --colorscreenbackground: hsl(0, 0%, 93%);
    --colorKey: hsl(60, 10%, 19%);
    --colorkeybackground: hsl(185, 42%, 37%);
    --colorkeyshadow: hsl(185, 58%, 25%);
    --colorRedkeybackground: hsl(25, 98%, 40%);
    --colorRedkeytoggle: hsl(25, 98%, 40%);
    --colorDarkredkeyshadow: hsl(25, 99%, 27%);
    --colorLightgrayishorangekeybackground: hsl(45, 7%, 89%);
    --colorGrayishorangekeyshadow: hsl(35, 11%, 61%);
    --colorVerydarkgrayishblue: hsl(60, 10%, 19%);
    --colorWhite: hsl(0, 0%, 100%);
}

:root[data-theme="yellow"] {
    --colormainbackground: hsl(268, 75%, 9%);
    --colortogglebackground: hsl(268, 71%, 12%);
    --colorkeypadbackground: hsl(268, 71%, 12%);
    --colorscreenbackground: hsl(268, 71%, 12%);
    --colorKey: hsl(52, 100%, 62%);
    --colorkeybackground: hsl(281, 89%, 26%);
    --colorkeyshadow: hsl(285, 91%, 52%);
    --colorRedkeybackground: hsl(176, 100%, 44%);
    --colorRedkeytoggle: hsl(176, 100%, 44%);
    --colorDarkredkeyshadow: hsl(177, 92%, 70%);
    --colorLightgrayishorangekeybackground: hsl(268, 47%, 21%);
    --colorGrayishorangekeyshadow: hsl(290, 70%, 36%);
    --colorVerydarkgrayishblue: hsl(52, 100%, 62%);
    --colorWhite:hsl(0, 0%, 100%);
}

// ***********************************
// Fuentes
// ***********************************
$fontsize: 16px;
$fontsizenumbers: 35px;

// ***********************************
// Box
// ***********************************
$borderradioscard: 15px;
$keyheigh: 60px;
$gapkeys: 16px;